# While loop

Q1. Write a program that prints number from 1 to 10 number with
their square.

In [ ]:
num = 1
while num<11:
    print(num)
    num +=1

Q2. Write a program that prints a table of a number, take that
number from the user.

In [ ]:
num = int(input(""))
i=1
while i<=10:
    print(num,"*",i,"=",i*num)
    i+=1

Q3. Write a program that calculates the product of all numbers
between 1 to 10 using a while loop.

In [4]:
num = 1
i=1
while i <=10:
    num *=i
    i+=1
print(num)

3628800

Q4. Write a program that prints numbers divisible of 7 between 1 to
70

In [ ]:
num = 7
i =1
while i <=70 :
    if i%num==0:
        print(i)
    i+=1

Q5. Write a program that takes input from the user and print the
reverse counting of that number.

In [ ]:
num = int(input(""))
while num > 0:
    print(num)
    num -=1

In [ ]:
num = 3
while num**2 <100:
    print(num+1)
    num += 2

Q6. Write a program to generate squares of even numbers between 1 to 10.
Output: 4,16,36,64,100

In [ ]:

i = 1
while i <= 10:
    if i % 2==0:
        print(i**2)
    i +=1

Q7. Write a program to print Multiples of 3 and 5 between 1 to 30.

In [9]:
i = 1
while i <= 30:
    if i % 3==0 and  i %5==0:
        print(i)
    i +=1

15
30

Q8. Write a program to calculate the sum of numbers from 1 to 10 using a while
loop.

In [10]:
num=0
i = 1
while i<=10:
    num+=i
    i+=1
print(num)

55

Q9. Write a program to calculate Sum of Odd Numbers up to 30 using while loop

In [11]:
i = 1
num=0
while i<=30:
    if i % 2 !=0:
        num+=i
    i +=1
print(num)

225

Q10. Write a python program to find the Sum of the Digits of a given
number as an input.

In [15]:
num = int(input(""))
sum1=0
while num > 0:
    num1=num%10
    sum1+=num1
    num//=10
print(sum1)

24

Q11. Write a python program which finds the reverse of a given
number.

In [16]:
digit = int(input(""))
r= 0
while digit > 0:
    digit1=digit%10
    r = r*10+digit1
    digit //=10
print(r)

321

Q12. Write a python program which find the Factors of a given number
as an input.

In [ ]:
num = int(input(""))
i = 1
while i <= num:
    if num%i ==0:
        print(i)
    i+=1

Q13. Write a python program which check Whether the given number
as an input is a Palindrome or not

In [ ]:
digit = int(input(""))
num1=digit
r= 0
while digit > 0:
    digit1=digit%10
    r = r*10+digit1
    digit //=10
if num1==r:
    print("Palindrome")
else:
    print("not Palindrome")

Palindrome

Q14. Write a python program which finds Factorial of a Number

In [33]:
num = int(input(""))
i = 1
while num > 0:
    i*=num
    num -=1
print(i)

1

Q15. Check Whether or Not the Number is an Armstrong Number

In [37]:
num  = int(input(""))
num1=num
num2=num1
count = 0
while num > 0:
    count +=1
    num//=10
sum1=0
while num1>0:
    div = num1%10
    sum1+=div**count
    num1//=10
if num2==sum1:
    print("Armstrong")
else:
    print("not armstrong")

Armstrong

Q16. Write a python program to check whether or Not the given
number is a Perfect Number.

In [50]:
num = int(input(""))
num1=num
i=1
sum1=0
while i<num:
    if num%i==0:
        sum1+=i
    i+=1
if sum1==num1:
    print("perfect number")
else:
    print("not perfect number")

perfect number

Q17. Write a program to enter the number till the user enters 0 and
at the end it should display the sum of all the numbers entered.

In [2]:
sum1=0
while True:
    num = int(input(""))
    if num ==0:
        break
    else:
        sum1+=num
print(sum1)

8

# For Loop

Q18. Write a python program that take a number from user then add all
the natural number which are divisible by 3 or 5 both till that input
number.

In [1]:
num = int(input(""))
sum1=0
for i in range(1,num+1,1):
    if i % 3 == 0 or i%5==0:
        sum1 +=i
print(sum1)

33

Q19. Write a python program that takes input from user then print the
table of the entered number using for loop

In [ ]:
num = int(input(""))
for i in range(1,11,1):
    print(num,"*",i,"=",num*i)

Q20. Write a python program that print the given series.

In [ ]:
num = int(input(""))
for i in range(num,-1,-4):
    print(i)

Q21. Write a python program to generate all the factors of the given
number. Using for loop

In [ ]:
num = int(input(""))
for i in range(1,num+1):
    if num % i == 0:
        print(i)

Q22. Write a Python program to find the sum of digit of a given number
using for loop. (between 100 and 999).

In [8]:
num = int(input(""))
div=0
sum1=0
for i in range(num+1):
    div = num%10
    sum1+=div
    num//=10
print(sum1)

6

Q23 write a python program that takes number from user then prints
count of even and odd number from 1 to till that number

In [17]:
num = int(input(""))
even=0
odd = 0
for i in range(1,num+1):
    if i % 2 == 0:
        even+=1
    else:
        odd +=1
print(" count of even :",even) 
print(" count of odd :",odd)

 count of even : 5
 count of odd : 5

Q24.Write a Python program to count how many numbers between 1
and 200 are divisible by 5 but not by 2.

In [20]:
num = int(input(""))
count = 0
for i in range(1,num+1):
    if i%5==0 and i%2 !=0:
        count +=1
print(count)

20

Q25. Write a Python program to find the reverse of a given number
using for loop. (between 100 and 999).

In [ ]:
digit = int(input(""))
r =0 
sum1=0
for i in range(digit+1):
    sum1=digit%10
    r = r*10+sum1
    digit //= 10
print(r)

3210000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Q26. Write a python program which takes number as an input and
check whether that number is prime or not.

In [ ]:
num = int(input(""))
if num<=1:
    print("not prime")
elif num ==2:
    print("prime")

for i in range(3,num):
    if num%i==0:
       print(" not prime")
       break
else:
    print(" prime")

 prime

# List

Q27. Write a program which add the element 13 to the end of the list
numbers = [10, 22, 35, 45, 53] after that Print the list.

In [11]:
number = [10,22,35,45,53]
number.append(13)
print(number)

[10, 22, 35, 45, 53, 13]

Q28. Write a program which insert the element 20 at index 2 in the
list numbers = [5, 2, 6, 4, 9]. Print the list after inserting.

In [12]:
number = [5,2,6,4,9]
number.insert(2,20)
print(number)

[5, 2, 20, 6, 4, 9]

Q29. If List1 = [1,2,3,4] and List2 = [8,6,7,5] then what should be the
code for the output: [1,2,3,4,8,6,7,5]

In [13]:
lst = [1,2,3,4]
lst1=[8,6,7,5]
lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 8, 6, 7, 5]

Q30. Delete the element at index 3 from the list numbers = [10, 2, 36,
41, 5]. Print the list after deletion

In [ ]:
number = [10,2,36,41,5]
number.pop(3) # pop is work to index
print(number)

[10, 2, 36, 5]

Q31. Delete the element at index 4 from the list Lst = ['apple' ,
'banana' , 'orange' , 'kiwi' , 'guava'] and Print the list after deletion
and also print that deleted element.

In [18]:
lst = ['apple','banana','orange','kiwi','guava']
lst.pop(4)
print(lst)

['apple', 'banana', 'orange', 'kiwi']

Q32. Remove the first occurrence of the element 3 from the list
numbers = [1, 25, 3, 44, 33, 56]. Print the list after removing.

In [19]:
lst = [1,25,3,44,33,3,56]
lst.remove(3)
print(lst)

[1, 25, 44, 33, 3, 56]

Q33. Count the number of times the element 2 appears in the list Lst =
[15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]. Print the count

In [20]:
lst = [15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]
cnt=lst.count(2)
print(cnt)

5

Q34. Write a program which prints the reverse list of the given list:
Lst = [15, 22, 35, 24, 65]

In [21]:
lst = [15,22,35,24,65]
print(lst[::-1])

[65, 24, 35, 22, 15]

Q35. Write a program to which add the element 7 at the last of list Lst
= [4, 2, 5, 1, 3, 6, 8, 10, 3, 5], then sort the list. Print the list after
these operations.

In [22]:
lst = [4, 2, 5, 1, 3, 6, 8, 10, 3, 5]
lst.append(7)
lst.sort()
print(lst)

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 10]

Q36. Write a program which insert the element 10 at index 1 in the
list Lst = [12, 24, 35, 24, 45], then remove the element 35. Print the
list after these operations.

In [23]:
lst = [12, 24, 35, 24, 45]
lst.insert(1,10)
lst.remove(35)
print(lst)

[12, 10, 24, 24, 45]

Q37. Write a python program which iterates the given list prints all
the values inside the list via loop .
lst = ['mango','apple','banana','ornage','kiwi']

In [24]:
lst = ['mango','apple','banana','ornage','kiwi']
for i in lst:
    print(i)

mango
apple
banana
ornage
kiwi

Q38. Write a python program which finds the sum to all the elements
of the list by iterating that given list

lst = [2,4,6,8,12,10,14,24]

In [25]:
lst = [2,4,6,8,12,10,14,24]
sum1=0
sum1=sum(lst)
print(sum1)

80

Q39. Write a python program which finds the value (n) in the given list
= [4,5,3,2,1,6,8], if present then return True otherwise False.
Note: ‘n’ can be any input value.

In [28]:
lst = [4,5,3,2,1,6,8]
num = int(input(""))
if num in lst:
    print("True")
else:
    print("False")

True

Q40. Write a python program which update odd indices elements of
the list by ‘hii’ through iterating that given list.

In [38]:
lst = [2,4,6,8,1]
lst1=[]
for i in lst:
    if i%2!=0:
        lst1.append("hii")
    else:
        lst1.append(i)
print(lst1)

[2, 4, 6, 8, 'hii']

Q41. Write a python program which finds and print the average of
elements of the given list of integers.
lst = [10,45,23,46,98,56]
Note: If list changes your code should work properly.

In [39]:
lst = [10,45,23,46,98,56]
lenth= len(lst)
sume=sum(lst)
print(sume/lenth)

46.333333333333336

Q42. Write a python program which finds the sum of squares of all the
elements of the given list.

In [40]:
lst = [2,4,6,8,1]
sum_squar=0
for i in lst:
    sum_squar+=i**2
print(sum_squar)

121

Q43. Write a python program to divide the list into two equal halves
and print the sum of each half.